.borderCard {
  border: 5px solid #343a40;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #585858;
}

.portfolioImage {
  height: 10rem;
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 4px solid #343a40;
  border-radius: 3px;
  position: relative;
}

.portfolioFont {
  font-size: 24px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  padding-top: 0rem;
}

.link {
  margin-top: 3rem;
}

.description {
  margin-top: 0.5rem;
}

@media (max-width: 1199px) {
  .portfolioFont {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .borderCard {
    margin-left: 2px;
    margin-right: 2px;
  }
  .portfolioImage {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  .portfolioFont {
    margin-left: 0rem;
  }
  .link {
    margin-top: 0rem;
  }
  .description {
    margin-top: 0rem;
  }
  .project {
    margin-right: 1rem;
  }
  .repo {
    margin-left: 1rem;
  }
  .textAlign {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
  }
}