/* change font from bootstrap defaults */
.contactFont {
  font-size: 24px;
}

.position {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 30%;
}

@media (max-width: 767px) {
  .contactFont {
    font-size: 20px;
  }
  .position {
    max-width: 100%;
    text-align: center;
  }
}