/* change font from bootstrap defaults */
.contactFontChange {
  font-size: 1.5rem;
  margin-top: 3rem;
}

/* change phone icon size to match height of gmail icon */
.phoneIconSize {
  max-width: 20%;
}

/* changes font styles to keep text from stacking viewed in medium screens */
@media screen and (max-width: 991px) and (min-width: 768px) {
  .contactFontChange {
      font-size: 1.25rem;
      margin-top: 2rem;
  }
} 

/* changes the phone icon viewed in small screens back to same % size as the other icons to keep text spacing consistent once they stack reactively */
@media screen and (max-width: 767px) {
  .phoneIconSize {
      max-width: 25%;
  }
}