.navbar-brand {
  margin-bottom: 0rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.navbar-background {
  background-color: #343a40;
  color: white;
}

/* navbar button link color */
.nav-link {
  color: #41d2e9;
}